@model WeatherLib.WeatherInfoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeatherResult</title>
</head>
<body>
    <h1>Weather Information</h1>
    <h3> @ViewBag.result </h3>
    <h2> Temperature in C : @Model.Temperature.Metric.Value</h2>
    <ul>
        <li>Local Observation Time  @Model.LocalObservationDateTime</li>
        <li>Weather : @Model.WeatherText</li>
        <li>Is Day Time : @Model.IsDayTime</li>
        <li>Temperature in C : @Model.Temperature.Metric.Value</li>
        <li>Weather Icon : @Model.WeatherIcon</li>
    </ul>
</body>
</html>
